@page 
@model MecanicoModel
@{
    ViewData["Title"] = "Mecanico";
}



<form method="post" id = "formuadmin" class="mt-5 mb-3 formuadmin"  >
 <h2>Agregando profesional </h2>

  <a asp-page="/Administracion/Administrador" class="btn-defaoult">Volver</a>

    <div class="formularioc">
        <div class="mt-5 mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input asp-for="Mecanico.Nombre" type="nombre" class="form-control form-control-sm" id="nombre"  />
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input asp-for="Mecanico.Apellido"  class="form-control form-control-sm" id="apellido"  />
        </div>
        <div class="mb-3">
            <label for="Mecanico.FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <input asp-for="Mecanico.FechaNacimiento"  class="form-control form-control-sm" id="Fecha_Nacimiento"  />
        </div>
         <div class="mb-3">
            <label asp-for="Mecanico.NivelEstudio" class="form-label"> Nivel academico</label>
            <select asp-for="Mecanico.NivelEstudio" class="form-control">
                <option value="" disabled="" selected=""></option>
                <option value="Técnico">Técnico</option>
                <option value="Técnologo">Técnologo</option>
                <option value="Profesional">Profesional</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="Mecanico.Direccion" class="form-label">Direccion</label>
            <input asp-for="Mecanico.Direccion" class="form-control form-control-sm" id="Direccion"   />
          </div>
         <div class="mb-3">
            <label for="Mecanico.NumeroTelefono" class="form-label">Numero Telefónico</label>
            <input asp-for="Mecanico.NumeroTelefono" class="form-control form-control-sm" id="Numero_Telefónico"   />
          </div>
            <button type="submit" class = "btn btn-primary">Guardar</button>  
    </div>
</form>