@page
@model AddMecanicoModel
@{
}
<h2>Agregando Mecanico  @Model.Vehiculo.Placa  </h2>

<a class="btn btn-primary" asp-page ="/Services/Car/ListVehiculo">Volver</a>

<form method="post">
    <input type = "hidden" asp-for ="Vehiculo.Placa"/>

   <select asp-for="Vehiculo.IdMecanico" class="form-control">                
             @foreach (var Mecanico in Model.Mecanico)
    {                
                <option value="@Mecanico.IdMecanico">@Mecanico.Nombre</option>            
    }
    </select>

    <!--<div class="form-group">
        <label asp-for ="Vehiculo.IdMecanico"></label>
        <input asp-for ="Vehiculo.IdMecanico" class="form-control">
    </div>-->

   <button type="submit" class="btn btn-primary">Guardar</button>
   
</form>