@page
@model DeleteDue침oModel
@{
}
<h1>Borrado de confirmaci칩n</h1>

<div class="alet alet-danger">
   <h5>Esta seguro que deseaborrar a @Model.Due침o.Nombre</h5>
    <form method="post">
      <button type="submit" class="btn btn-danger">Si</button>
      <a class="btn btn-primary" asp-page ="./ListDue침o">No</a>
    </form>
</div>
