@page  "{handler?}"
@model AdministradorModel
@{
    ViewData["Title"] = "Administrador";
}


    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var personal in Model.TPersonal)
            {
                <div class="col">
                    <div class="card h-100 contenedores_proye">
                        <img  src= @personal.ImagenUrl class="card-img-top imgproyect" alt="imagen-proyecto" /> 
                        
                        <div class="card-body">
                            <h5 class="card-title">@personal.Titulo</h5>
                            <p class="card-text">@personal.Descripcion </p>
                        </div>
                         <div class="card-footer">
                       <a class="btn btn-primary "  asp-page="@personal.Link" 
                       rel="noopener noreferrer">Agregar</a>
                       <a class="btn btn-primary "  asp-page="/Mechanic/ListMecanicos" 
                       rel="noopener noreferrer">Listado del personal</a>
                        </div> 

                    </div>
                </div>
            }
            
        </div>

    </div>




