@page
@model ListCarAsignadosModel
@{
}

@* <input type = "hidden" asp-for ="Mecanico.IdMecanico"/>
 *@<h1>Vehiculos Asignados</h1>

 <a asp-page="/Services/VehiculosAsignados/ListMechanics" class="btn-defaoult">Volver</a>

<table class="table mt-5 mb-3">

    <thead>
      <tr>
        <!--<th>ID</th>-->
        <th>Placa</th>
        <th>Tipo</th>
        <th>Marca</th>
      @*   <th>Numero de telefono</th>
        <th>Direccion</th>
        <th>Fecha de nacimiento</th>--> *@
      </tr>
    </thead>
    @foreach (var Vehiculo in Model.Vehiculos)
    {
        <tr>
            <!--<td>mecanico.IdMecanico</td>-->
            <td>@Vehiculo.Placa</td>
            <td>@Vehiculo.Tipo</td>
            <td>@Vehiculo.Marca</td>

        </tr>
    }
</table>