@page 
@model EditNiveles

@{
}
<h2>Edición de la revisión de niveles @Model.Niveles.IdNiveles</h2>

<a class="btn btn-primary" asp-page ="/Services/Levels/ListNiveles">Volver</a>

<form method="post" id = "formuadmin" class="mt-5 mb-3 formuadmin" >
    <input type = "hidden" asp-for ="Niveles.IdNiveles"/>
    <div class="form-group">
        <label asp-for ="Niveles.NivelAceite"></label>
        <input asp-for = "Niveles.NivelAceite" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for ="Niveles.NivelLiquidoFrenos"></label>
        <input asp-for = "Niveles.NivelLiquidoFrenos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for ="Niveles.NivelRefrigerante"></label>
        <input asp-for = "Niveles.NivelRefrigerante" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for ="Niveles.NivelLiquidDireccion"></label>
        <input asp-for = "Niveles.NivelLiquidDireccion" class="form-control">
    </div>
    <div class="form-group">
        <label for="descripcion" class="form-label">Placa</label>
            <select asp-for="Niveles.IdVehiculo" class="form-control">                
             @foreach (var vehiculo in Model.Vehiculo)
            {                
                <option value="@vehiculo.IdVehiculo">@vehiculo.Placa</option>            
            }
            </select>
    </div>
      <div class="form-group">
        <label asp-for ="Niveles.FechaHora"></label>
        <input asp-for = "Niveles.FechaHora" class="form-control">
    </div>
 
   <button type="submit" class="btn btn-primary">Guardar</button>
   
</form>