@page
@model DeleteRepuestoModel
@{
}
<h1>Borrado de confirmación</h1>

<a class="btn btn-primary" asp-page ="./ListRepuestos">Lista</a>

<div class="alet alet-danger">
   <h5>Esta seguro que desea borrar el Repuesto @Model.Repuesto.Nombre</h5>
    <form method="post">
      <button type="submit" class="btn btn-danger">Si</button>
      <a class="btn btn-primary" asp-page ="./ListRepuestos">No</a>
    </form>
</div>
